* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(21.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

.navbar {
    width: 1300px;
    height: 125px;
    margin: auto;
    margin-right: 50px;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
    
}

.logo {
    color: rgb(16, 202, 244);
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
    margin-left: 300px;
}

ul {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style: none;
    margin-top: 27px;
    margin-left: 62px;
    font-size: 14px;

}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in;

}

ul li a:hover {
    color: orange;

}

.search {
    width: 50px;
    float: left;
    margin-left: 350px;

}


.srch {
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid;
    margin-top: 13PX;
    color: white;
    border-right: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    width: 100%;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}


.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
    
}

.content {
    padding-left: 77px;
    padding-top: 169px;
    font-family: Arial, Helvetica, sans-serif;
}


.content .par {
    padding-bottom: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    color: black;
    
}

.content h1 {
    color: rgb(17, 255, 0);
    font-size: 55px;
    padding-left: 72px;
    margin-top: 26%;
    letter-spacing: 9px;
    
    
}

.contect .cn {
    cursor: pointer;
}

.content .cn a {
    text-decoration: none;
    transition: .3s ease;
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    
}

.content span {
    color: orange;
    font-size: 60px;
    transition: .3s ease;
    
}

.cn:hover {
    background-color: rgb(244, 247, 247);
    border: 2px solid black;
    
}

.contect span {
    color: rgb(0, 0, 0);
    font-size: 60px;

}


.form {
    width: 250px;
    height: 388px;
    background: black;
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;

}

.form h2 {
    width: 220px;
    font-family: sans-serif;
    font-size: 22px;
    background-color: #1e1616;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    text-align: center;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}


.form input:focus {
    outline: none;
}

::placeholder {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.btnn {
    width: 240px;
    height: 48px;
    background-color: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}


.btnn:hover {
    background: white;
    color: orange;
    font-weight: bold;

}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    padding-bottom: 10px;
    text-align: center;

}